/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 24px;
}
.flexboxrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flexboxcolumn {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-content: center;
}
.container {
  max-width: 1000px;
  background-color: #DCDCDC;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-content: center;
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
  }
}
.section {
  margin: 1%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.section .top-header {
  width: 100%;
  border: 1px solid blue;
  text-align: center;
  padding: 2%;
}
.section .header-image {
  align-self: center;
  width: 75%;
}
@media (max-width: 500px) {
  .section .header-image {
    width: 100%;
  }
}
.section .item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-content: center;
  padding: 3%;
  border: 1px solid blue;
  margin: 2% 0%;
  width: 33%;
  overflow: hidden;
  line-height: 125%;
}
.section .item .item-image {
  text-align: center;
  margin: 0 auto;
  padding: 5%;
}
.section .item .item-image img {
  width: 75%;
}
@media (max-width: 500px) {
  .section .item .item-image img {
    width: 100%;
  }
}
.section .item .item-text {
  text-align: center;
}
@media (max-width: 500px) {
  .section .item {
    width: 100%;
  }
}
.section .mainmenu {
  align-self: center;
  width: 80%;
}
.section .mainmenu nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .section .mainmenu nav ul {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
}
.section .mainmenu nav ul li {
  list-style-type: none;
  margin: 1%;
  padding: 2%;
  border: 1px solid red;
}
@media (max-width: 500px) {
  .section .mainmenu nav ul li {
    padding: 0% 100%;
    border: 1px solid red;
  }
}
.section .mainmenu nav ul li a {
  text-decoration: none;
  padding: 10px 5%;
}
.section.headerimg {
  background-color: #D3D3D3;
}
